:root {
  --background--colour: #ffffff;
  --seconary-colour: rgb(0, 20, 80);
  --accent--colour: rgb(193, 56, 10);
}

.container {
  margin: 0.5rem;
}

.accent {
  color: var(--accent--colour)
}

footer {
  background-color: var(--seconary-colour);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header {
  background-color: var(--seconary-colour);
  margin: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

header * {
  color: var(--background--colour);
}

footer * {
  color: var(--background--colour);
}

body {
  color: var(--seconary-colour);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.movie-card {
  display: inline-block;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.2rem;
  margin: 1rem;
  padding: 1rem;
  border-color: var(--seconary-colour);
}

.highlight {
  color: var(--accent--colour);
  font-weight: bold;
}

#update-display {
  background-color: var(--accent--colour);
}

#grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#movie-add {
  grid-row: 1 / 4;
}
